body {
    max-width: 1024px;
    min-height: 100%;
    font-family: "Helvetica", "Arial", sans-serif;  
} 

.align-center {
    display: block;
    margin: auto;
}

header {
    margin-top: 2px;
    font-size: 30px;
    text-align: center;
    border-left: 3px solid #100e1a;
    border-right: 3px solid #100e1a;
    border-top: 3px solid #100e1a;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px; 
    background-color: #2c2547;   
}

h3 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #e8e8e8; 
}

article {
    padding-top: 20px;
    padding-bottom: 10px;
    color: #e8e8e8;
    background-color: #3f3663;
    border-left: 3px solid #100e1a;
    border-right: 3px solid #100e1a;    
}

figure {
    margin: 0;
}

figure img {    
    border: 2px solid #282240;
    border-radius: 50%;
}

ul {
    width: 80%;
    margin-left: 7%;
    padding-top: 10px;
}

p {
    font-size: 22px;
    line-height: 1.5em;
}

a {
    color: #e8e8e8;
}

a:hover {
    color: #a2a2ba;
}

footer {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #2c2547;    
    border-left: 3px solid #100e1a;
    border-right: 3px solid #100e1a;
    border-bottom: 3px solid #100e1a;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

footer figure img {
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
}

div {
    max-width: 24%;
    margin-left: 38%;
    text-align: center;    
    background-color: #282240;
    border-radius: 50px;
}

div a {
    text-decoration: none;
}

div a:hover {
    opacity: 0.5;
}